
body{
    background: rgb(252,2,2);
    background: radial-gradient(circle, rgba(252, 2, 2, 0.5) 0%, rgba(248, 3, 3, 0.582) 35%, rgba(0,0,0,1) 100%);
}

/*Tapa pan y titulo*/
.tapa-pan-titulo{
    position: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    background: url(assets\image\pagina_principal_panBase.png);¨
    background-size: cover;
}

.tapa-pan-titulo img{
    max-width: 500px;
    height: auto;
}
.tapa-pan-titulo h1 {
    background-color: rgba(0, 0, 0, 7);
color: rgb(255, 0, 0); /*color de titulo h1*/
padding: 10px;
border-radius: 5px;
font-size: 24px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,1);
    color: rgba(5, 9, 250, 0.726);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    */
}
.h1-estilo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: solid - red;
    text-align: center;
}
/*imagen bacon que nos lleva a pagina dos, donde estaran las hamburguesas*/

/*imagen lechuga tomate o queso que nos lleva a la pagina 3, donde estaran las papas fritas */

/*imagen carne que nos llevara a la pagina 4, donde estaran los sides o acompañamientos */

/*imagen de gaseosa o cerveza al lado de la hamburguesa que nos llevara a la pagina 5, donde estaran las bebidas */

/*imagen base del pan que nos llevara a la pagina 6, donde estaran nuestros datos */

