/*podria usarse el selector universal * para aplicar a todas las paginas del proyecto:

*{background: rgb(252,2,2);
    background: radial-gradient(circle, rgba(255, 230, 1, 0.651) 0%, rgba(248, 3, 3, 0.582) 35%, rgba(0,0,0,1) 100%);
}*/

.color-fondoprincipal{/*COLOR DE LA PRIMERA PAGINA*/
    background: rgb(252,2,2);
    background: radial-gradient(circle, rgba(255, 230, 1, 0.651) 0%, rgba(248, 3, 3, 0.582) 35%, rgba(0,0,0,1) 100%);
    margin:0px;
    position: calc(10%);
}
.color-fondopagina2{
    background-color: black;
    margin: 0px;
    position: calc(10%);
}
 .h1color-neon{ /*COLOR DEL TITULO PRINCIPAL */
    margin-top: 5px;
    margin-bottom: 0%;
  color: #fff;
  text-shadow:
      0 0 7px #ff0000,
      0 0 10px #fff,
      0 0 21px #ff4800,
      0 0 42px rgb(0, 255, 255),
      0 0 82px rgb(0, 255, 255),
      0 0 92px rgb(0, 255, 255),
      0 0 102px rgb(0, 255, 255),
      0 0 151px rgb(0, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.2rem;
    font-family: 'JelleeBold';
}

.h2color-neon{/*COLOR DEL SUBTITULO*/
    margin-top: 5px;
    color: #9d00ac;
    text-shadow:
        0 0 7px #ff0000,
        0 0 10px #fff,
        0 0 21px #ffffff,
        0 0 42px rgb(255, 251, 0),
        0 0 82px rgb(251, 255, 0),
        0 0 92px rgb(0, 255, 255),
        0 0 102px rgb(0, 255, 255),
        0 0 151px rgb(0, 255, 255);
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1.2rem;
      font-family:papyrus;        
    }

/******************************************************************************************************/
/******************************************************************************************************/    
/*NAVEGADOR*/
nav{    
    text-align: center;
    text-decoration: dashed;
    margin: 5px;
    margin-top: 10px;
    position: relative;
}

/*NAVEGADOR Y LAS FUENTES*/
.estilo-navegador {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: rgb(4, 0, 255);
    background: rgb(252,249,2);/*color de fondo del nav*/
    background: linear-gradient(90deg, rgba(252,249,2,1) 10%, rgba(255,0,0,0.7959558823529411) 50%, rgba(252,249,2,1) 90%);
    margin-left: 22rem;/*margen izq desde el borde de la pantalla hacia el centro*/
    margin-right: 22rem;/*margen der desde el borde de la pantalla hacia el centro*/
    border-radius: 50px;/*redondea los bordes donde esta contenido el nav*/
    -webkit-perspective: 2cap;
    scroll-behavior: smooth;
    text-decoration:none;
    transition: 0.3s;
}

/******************************************************************************************************/
/******************************************************************************************************/

/*IMAGENES DE LA PRIMERA PAGINA*/
/*CONTENEDOR DE IMAGENES*/
.info-contenedorprincipal{
    display: flex;
    position: relative;
   }

/*IMAGEN IZQUIERDA VASO Y TEXTO IZQUIERDO*/
.izquierda-img1{
    flex: 1;
    margin-left: 15rem;
    background-image: url("assets\image\pagina_principal_vaso_gaseosa.png");
    background-repeat: no-repeat;
    height: 0rem;
    width: 500rem;
}
.textoIzquierdoColor{
    font-family:'MrsBeasleyRegular';
    font-size: 3rem;
    color: #00ffff;
    text-shadow:
        0 0 7px #ff0000,
        0 0 10px #fff,
        0 0 21px #ffffff,
        0 0 42px rgb(255, 251, 0),
        0 0 82px rgb(255, 153, 0),
        0 0 92px rgb(0, 255, 255),
        0 0 102px rgb(0, 255, 255),
        0 0 151px rgb(255, 0, 0);
        }
.textoIzquierdo{
    position: absolute;
    text-align:left;
    margin-left: 15rem;
    background-image: url("assets\image\pagina_principal_vaso_gaseosa.png");    
    background: no-repeat;
    top: 15rem;
    left: 2rem;
}

/*IMAGEN DERECHA HAMBURGUESA Y TEXTO DERECHO*/
.imagen-size{
    width: 80%;
    height: auto;
}
.hamburguesa-img2{
    margin-left: 70rem;
    margin-top: 10rem;
    padding: -8rem;
}
.bacon-img3{
    margin: -10;
    padding: -10;
}
.carneQueso-img4{
    margin: -100;
    padding: 0;
}
.carne-img5{
    margin: 0;
    padding: 0;
    }
.basePan-img6{
    margin: 0;
    padding: 0;
}
.textoDerechoColorGeneral{
    font-family:'MrsBeasleyRegular';
    font-size: 3rem;
    color: #ff0000;
    text-shadow:
    0 0 7px #ff0000,
    0 0 10px #fff,
    0 0 21px #ffffff,
    0 0 42px rgb(255, 251, 0),
    0 0 82px rgb(0, 255, 242),
    0 0 92px rgb(0, 255, 255),
    0 0 102px rgb(0, 255, 255),
    0 0 151px rgb(255, 0, 0);
    text-decoration: none;
    } 
.textoTapaPan{
    flex: 1;   
    text-align: right;
    margin-left: 15rem;
    
    background-image: url("assets\image\pagina_principal_tapa_superior_pan.png");    
    background: no-repeat;
    position: absolute;
    left: 57rem;
    bottom: 37rem;
}
.textoBacon{     
    flex: 2;   
    text-align: right;
    background-image: url("assets\image\pagina_principal_bacon.png");    
    background: no-repeat;
    position: absolute;
    left: 75rem;
    bottom: 26rem;
}
.textoCarneQueso{     
    flex: 3;   
    text-align: right;
    background-image: url("assets\image\pagina_principal_carne1_con_queso.png");    
    background: no-repeat;
    position: absolute;
    left: 77rem;
    bottom: 16.5rem;
}
.textoCarne{     
    flex: 4;   
    text-align: right;
    background-image: url("assets\image\pagina_principal_carne2_carne.png");    
    background: no-repeat;
    position: absolute;
    left: 81rem;
    bottom: 7rem;
}
.textoBasePan{     
    flex: 5;   
    text-align: right;
    background-image: url("assets/image/pagina_principal_panBase.png");    
    background: no-repeat;
    position: absolute;
    left: 79rem;
    bottom: -2.5rem;
}
/**********************************************************
***********************************************************
***********************************************************
*****************PAGINA 2 HAMBURGUESAS*********************
***********************************************************
***********************************************************
**********************************************************/
.titulo-Ham{
    font-family:'Poppins', sans-serif ;
    color: #ff0000;
    text-align: center;
    text-decoration: none;
    font-size: 5rem;
}
.contenedor-flex {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan a la siguiente línea cuando no haya suficiente espacio en el contenedor */
    justify-content: flex-start; /* Alinea las imágenes a la izquierda */
    align-content: flex-start; /* Alinea las imágenes en la parte superior */
}

.imagen {
    width: 50px; /* Establece el ancho deseado para cada imagen */
    height: 50px; /* Establece el alto deseado para cada imagen */
    margin: 5px; /* Agrega espacio entre las imágenes si lo deseas */
    background-color: rgb(12, 12, 12); /* Puedes agregar estilos de fondo si es necesario */
}

.titulo{ 
    font-style: italic;
    color: yellow;  
    font-size: 2rem;
    margin-left: 15rem;
    justify-items: center;
}

.img-redondeada{
    border-radius: 50px;
}
